.HomeTechnologysec {
    background-color: black;
    min-height: 40vh ;
    margin: 0;
}

.HomeTechnologyseccont {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.HomeTechnologyHeading>h1 {
    font-family: Inter;
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.HomeTechnologyHeading>p {
    padding-top: 20px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0em;
    line-height: 25px;
    text-align: left;
    color: #FFF;
}

.HomePromisesSecCardGrid{
    /* min-height: 100vh; */
}

.HomePromisesSecCard{
    background-color: black;
    color: #FFF;
    padding: 50px 0;
}

.HomePromisesSecCardTitle > h5{
    /* position: relative; */
    padding: 20px;
    border-radius: 50%;
    background: linear-gradient(127.13deg, #00AB8A 2.4%, #02FACA 26.27%, rgba(2, 248, 201, 0.85) 57.67%, #A2FFED 118.78%);

    width: fit-content;
}
.HomePromisesSecCardTitle > p{
    margin-top: 30px;
}


@media screen and (max-width: 768px) {
    .HomeTechnologysec {
        min-height: fit-content !important;
    }
    .HomeTechnologyHeading {
        padding: 30px 0;
    }

    .HomeTechnologyHeading>h1 {
        font-size: 60px !important;
        line-height: 50px !important;
    }

    .HomeTechnologyHeading>p {
        font-size: 20px;
        line-height: 20px;
        padding: 30px 0;
    }
}

@media screen and (max-width: 425px) {
    

    .HomeTechnologyHeading>h1 {
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .HomeTechnologyHeading>p {
        font-size: 14px;
        line-height: 15px;
        padding: 30px 0;
    }
}