.HomePromisesSec {
    background-color: black;
    padding-top: 20px;
}
/* 
.HomePromisesSecCardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */

.HomePromisesSecHeading {
    margin: 50px 0;
}

.HomePromisesSecHeading>h1 {
    font-family: Inter;
    font-size: 66px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.HomePromisesSecHeading>p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.HomePromisesSecDownHeading>h1 {
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.HomePromisesSecDownHeading>p{
    padding-top: 30px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #fff;
}
.HomePromisesSecDownImag{
    width: 50%;
    
}
.HomePromisesSecDownImag > img{
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    .HomePromisesSecHeading>h1 {
        font-size: 40px !important;
        line-height: 40px !important;
    }

    .HomePromisesSecHeading>p {
        font-size: 20px;
        line-height: 20px;
        padding: 30px 0;
    }
    /* .HomePromisesSecCardGrid {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    } */
    
}

@media screen and (max-width: 425px) {
    .HomePromisesSecHeading>h1 {
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .HomePromisesSecHeading>p {
        font-size: 14px;
        line-height: 15px;
        padding: 30px 0;
    }
    /* .HomePromisesSecCardGrid {
        display: grid;
        grid-template-columns: 1fr ;
    } */
}