.ContactForm {
    background-color: black;
}

.ContactFormRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactFormLeft>h1 {
    user-select: none;
    font-family: Inter;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.ContactFormLeft>p {
    user-select: none;
    margin: 30px 0;
    font-family: Inter;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.ContactFormRight {
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #313131;
    color: #fff;
}

.ContactFormRight>h1 {
    margin: 30px 0;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0em;
}

.ContactFormRight>p {
    margin: 10px 30px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.ContactMainForm {
    width: 100%;
    padding: 10px 20px;
}

.ContactMainForm>input, .ContactMainForm > textarea {
    resize: none;
    width: 90%;
    color: #fff;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 5px 20px;
    margin: 10px 0; 
}
.ContactMainForm>input::after{
 width: 90%;
    color: #fff;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 5px 20px;
    margin: 10px 0; 
}
.ContactMainForm >button{
    margin: 30px 0;
    align-items: left;
    border-radius: 30px;
    padding: 5px 30px;
    background: #02FACA;
    color: #090909;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}