.Homemaindiv {
    background-color: black;
    min-height: 100vh;
    margin: 0;

}

.Homeimagediv {
    background-image: url("./maindivimage.png");
    background-position: center;
    background-size: cover;
    /* margin-top: -100px; */
    min-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* opacity: .5;  */
}



.Homeimagediv>h5 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    line-height: 100px;
    color: #FFF;
}

.Homeimagediv>h5>h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.paradiv>.Homeparatext {
    padding-top: 20px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0em;
    line-height: 25px;
    text-align: left;
    color: #FFF;
}

.Homemainbutton {
    margin-top: 50px;
    align-items: left;
    border-radius: 30px;
    padding: 5px 30px;
    background: #02FACA;
    color: #090909;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}


@media screen and (max-width: 1024px) {
    .Homeimagediv>h5 {
       
        font-size: 70px;
        line-height: 50px;
    }
    .Homeimagediv>h5> h3 {
       
        font-size: 50px;
        line-height: 50px;
    }
 
}
@media screen and (max-width: 768px) {
    .Homeimagediv{
        align-items: start;
    }
    .Homeimagediv>h5 {

        font-size: 60px;
        line-height: 50px;
    }
    .Homeimagediv>h5> h3 {
       
        font-size: 50px;
        line-height: 50px;
    }
}
@media screen and (max-width: 425px) {
    .Homeimagediv{
        align-items: start;
    }
    .Homeimagediv>h5 {
       
        font-size: 30px;
        line-height: 30px;
    }
    .Homeimagediv>h5> h3 {
       
        font-size: 20px;
        line-height: 30px;
    }
}