.Contactmaindiv {
    background-color: #090909;
    opacity: .9;
    min-height: fit-content;
    min-width: 100%;
    background-position: center;
    background-size: cover;
    margin: 0;


}

.Contactimagediv {
    background: linear-gradient(180deg, rgba(0, 171, 138, 0.1) 15.35%, rgba(2, 250, 202, 0.1) 100%);
    background-position: center;
    background-size: cover;
    min-width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contactimagediv>h5 {
    text-transform: uppercase;
    font-family: Inter;
    font-size: 74px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    color: #00AB8A;
    ;
}


@media screen and (max-width: 1024px) {
    /* .Contactimagediv>h5 {

        font-size: 70px;
        line-height: 50px;
    } */


}

@media screen and (max-width: 768px) {
    .Contactimagediv {
        min-height: 25vh;
    }
    .Contactimagediv>h5 {
        font-size: 60px;
        line-height: 50px;
    }


}

@media screen and (max-width: 425px) {
    
    .Contactimagediv {
        min-height: 15vh;
    }

    .Contactimagediv>h5 {
        font-size: 30px;
        line-height: 30px;
    }
}