.CardSecmain {
    background: #2C2C2C;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    margin:  0 auto;
    padding: 0 auto;
}

.CardSecmainFirstdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    /* align-items: center; */
}

.CardSecmainFirstdiv>h3 {
    color: #fff;
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
}

.CardSecmainbtn {
    margin-top: 50px;
    width: fit-content;
    border-radius: 30px;
    padding: 5px 20px;
    background: #02FACA;
    color: #090909;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}

.cardimage {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.maincardcot {
    overflow: hidden;
    position: relative;
    background: #161616;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
}

.maincardcotTitle {
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.maincardcotpara {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.onHoverCard {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(2, 250, 202, 0.7);
    box-shadow: 0 8px 32px 0 rgba(105, 113, 219, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    transition: all .8s;
}

.onHoverCard>h3 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.onHoverCard>p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.onHoverCard>a {
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
    color: #fff;
}

.maincardcot:hover .onHoverCard {
    opacity: 1;
    transition: all .99s;
}

@media screen and (max-width: 768px) {
    .CardSecmain {
        padding: 0;
    }

    .CardSecmainFirstdiv {
        padding-top: 30px;
    }

    .CardSecmainbtn {
        margin-top: 20px;
    }
}

@media screen and (max-width: 425px) {
    .CardSecmain {
        padding: 0;
    }

    .CardSecmainFirstdiv>h3 {
        font-size: 40px;
        line-height: 40px;
    }
}